{% extends 'index.html' %}
{% block content %}
<br>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            {% if page == 'home' %}
            <form action="/" method="POST" class="form-group">
            {% endif %}
            {% if page == 'updatehome' %}
            <form action="/update_product/{{user.id}}" method="POST" class="form-group">
            {% endif %}
            
            
            <div class="form-group">
                <label for="">product_name</label>
                <input type="text" name="product_name" class="form-control" value={{user.product_name}}>
            </div>
            <div class="form-group">
                <label for="">product_type</label>
                <input type="text" name="product_type" class="form-control" value={{user.product_type}}>
            </div>
            <div class="form-group">
                <label for="">quantity</label>
                <input type="text" name="quantity" class="form-control" value={{user.quantity}}>
            </div>
            <div class="form-group">
                <label for="">warehouse</label>
                <input type="text" name="warehouse" class="form-control" value={{user.warehouse}}>
            </div>
            <button class="btn btn-block btn-dark">Submit</button>
        
            </form>
        </div>
    </div>
    <div class="col-lg-8">
        <table class="table">
            <thead>
                <th>product_name</th>
                <th>product_type</th>
                <th>quantity</th>
                <th>warehouse</th>
                <th>Delete</th>
                <th>Update</th>

            </thead>
            <tbody>
                {% for i in user1s %}
                <tr>
                    <td>{{ i.product_name }}</td>
                    <td>{{ i.product_type }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>{{ i.warehouse }}</td>
                    <td>
                        <a href='/delete_product/{{i.id}}' class="btn btn-sm btn-dark">Delete</a>
                    </td>
                    <td>
                        <a href='/update_product/{{i.id}}' class="btn btn-sm btn-dark">Update</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-4">
        <div class="card">

            <form method="POST" action="/add_location">
                <div class="form-group">
                    <label for="">location name</label>
                    <input type="text" name="location_name" class="form-control" >
                </div>
                <button class="btn btn-block btn-dark">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-lg-8">
        <table class="table">
            <thead>
                <th>id</th>
                <th>location_name</th>
                <th>delete</th>

            </thead>
            <tbody>
                {% for i in locations %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.location_name }}</td>
                    <td>
                        <a href='/delete_location/{{i.id}}' class="btn btn-sm btn-dark">Delete</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <form method="POST" action="/add_movement">
                <div class="form-group">
                    <label for="">timestamp</label>
                    <input type="text" name="timestamp" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="">to_location</label>
                    <select class="form-control" name="to_location" id="to_location">
                        {% for i in locations %}
                        <option value="{{i.location_name}}">{{i.location_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">from_location</label>
                    <select class="form-control" name="from_location" id="from_location">
                        {% for i in locations %}
                        <option value="{{i.location_name}}">{{i.location_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">product_id</label>
                    <input type="text" name="product_id" class="form-control" >
                </div>
                <button class="btn btn-block btn-dark">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-lg-8">
        <table class="table">
            <thead>
                <th>id</th>
                <th>product_name</th>
                <th>quantity</th>
                <th>to_location</th>
                <th>from_location</th>
                <th>timestamp</th>
                <th>delete</th>
            </thead>
            <tbody>
                {% for i in movements %}
                <tr>
                    <td>{{ i.User1.id }}</td>
                    <td>{{ i.User1.product_name }}</td>
                    <td>{{ i.User1.quantity }}</td>
                    <td>{{ i.Movement.to_location }}</td>
                    <td>{{ i.Movement.from_location }}</td>
                    <td>{{ i.Movement.timestamp }}</td>
                    <td>
                        <a href='/delete_movement/{{i.Movement.id}}' class="btn btn-sm btn-dark">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}