{% extends 'index.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        {% for i in product_info %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Product Name - </b>{{ i.product_name }}</li>
            <li class="list-group-item"><b>Product Id - </b>{{ i.id }}</li>
            <li class="list-group-item"><b>Warehouse - </b>{{ i.warehouse }}</li>
            <li class="list-group-item"><b>Prduction Quantity - </b>{{ i.quantity }}</li>
        </ul>
        {% endfor %}
    </div>
    <div class="col-lg-6">
        <table class="table table-bordered">
            <thead>
                <th>To Location</th>
                <th>From Location</th>
                <th>Quantity Displaced</th>
                <th>Timestamp</th>
            </thead>
            <tbody>
                {% for i in movement_info %}
                <tr>
                    <td>{{ i.Movement.to_location }}</td>
                    <td>{{ i.Movement.from_location }}</td>
                    <td>{{ i.Movement.quantity }}</td>
                    <td>{{ i.Movement.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Warehouse({{ product_info[0].warehouse }}) - </b>{{ warehouse_quant }}</li>
            {% for key, value in res.items() %}
            <li class="list-group-item"><b>{{ key }} - </b>{{ value }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}