{% extends 'index.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        {% for i in user_info %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>product_name - </b>{{ i.product_name }}</li>
            <li class="list-group-item"><b>product_id - </b>{{ i.id }}</li>
            <li class="list-group-item"><b>warehouse - </b>{{ i.warehouse }}</li>
            <li class="list-group-item"><b>prduction_quantity - </b>{{ i.quantity }}</li>
        </ul>
        {% endfor %}
    </div>
    <div class="col-lg-6">
        <table class="table table-bordered">
            <thead>
                <th>to_location</th>
                <th>from_location</th>
                <th>quantity_displaced</th>
                <th>timestamp</th>
            </thead>
            <tbody>
                {% for i in movement_info %}
                <tr>
                    <td>{{ i.Movement.to_location }}</td>
                    <td>{{ i.Movement.from_location }}</td>
                    <td>{{ i.Movement.quantity }}</td>
                    <td>{{ i.Movement.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>warehouse - </b>{{ y }}</li>
            {% for key, value in res.items() %}
            <li class="list-group-item"><b>{{ key }} - </b>{{ value }}</li>
            {% endfor %}

        </ul>
    </div>
</div>
{% endblock %}